# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Dataset
data/

# Operating System files
.DS_Store
Thumbs.db